<html>
  <head>
    <title>Email Confirmation</title>
  </head>
  <body>
    <p>Dear {{fullName}},</p>

    <p>Thank you for registering with IATC. We are excited to have you on board.
      To complete the registration process and verify your email address, please
      click on the confirmation link below:</p>

    <a href="{{confirmationLink}}">Confirm Your Email</a>
  </body>
</html>